{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-2 mb-5">
                    <div class="card-header text-center">
                        Welcome to &nbsp;&nbsp;&nbsp; M o v i e s &nbsp; | &nbsp;&nbsp;
                        <a href="{{ path('app_bydate') }}" class="btn btn-primary active" role="button" aria-pressed="true">byDate</a>&nbsp;&nbsp;
                        {% if app.user %}
                            <a href="{{ path('app_create')}}" class="btn btn-success active" role="button" aria-pressed="true">add movie</a>
                        {% endif %}
                    </div>
                </div>
                {% if app.user %}
                    <div class="text-center mb-3"> Welcome, {{ app.user.userIdentifier }} </div>
                {% endif %}

                {% for movie in movies %}
                    <div class="card border-secondery mb-3">
                        <div class="card-header d-flex justify-content-between">
                            <h3> {{ movie.title }} </h3>
                            <div>By <a href="{{ path('app_byuser', {id: movie.user.id}) }}"> {{ movie.user.email }} </a></div>
                        </div>

                        <div class="card-body">
                            {{ movie.description }}
                        </div>

                        <div class="card-footer d-flex justify-content-between">

                            <div><span class="text-primary">likes {{ movie.likes }}</span> | <span class="text-danger"> hates {{ movie.dislikes }} </span></div>


                            {% if app.user %}
                                {% if app.user.userIdentifier != movie.user.email %}
                                    <form action="{{ path('app_vote', {id: movie.id}) }}" method="post">
                                        <button type="submit" name="direction" value="like" class="mr-2 btn btn-sm btn-outline-primary d-inline font-weight-bold">
                                            <span class="fa fa-thumbs-up"></span> </button>
                                        <button type="submit" name="direction" value="dislike" class="mr-2 btn btn-sm btn-outline-danger d-inline font-weight-bold">
                                            <span class="fa fa-thumbs-down"></span></button>
                                    </form>
                                {% endif %}
                            {% endif %}

                            {# <div class="text-center"></div>#}
                            <div class="text-muted">{{ movie.createdAt.format( ' d-m-Y H:i:s ' ) }}</div>
                        </div>

                    </div>
                {% endfor %}

                <div class="d-flex justify-content-center">-- pagination links here --</div>
            </div>
        </div>
    </div>

{% endblock %}
